.checkout-list {
    grid-area: 2 / 1 / 4 / 3;
    overflow-y: scroll;

    padding: 1em 4em;
    border-collapse: collapse;

}

.checkout-creditcard {
    grid-area: 2 / 3 / 2 / 3;
    padding: 1em 1em;

}


.checkout-copyright {
    grid-area: 3 / 3 / 3 / 3;
    padding: 0.5em 0;
}
